.card{
  width: 23rem;
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  height: calc(100vh -86px);
}

.cardDark{
  background-color: #31313196;
}

.inputSpacing+.inputSpacing{
  margin: 1rem 0;
}

.invalid {
  border: 2px solid #ff7070;
  background-color: lightpink;
}

.invalidSpan {
  color: #ff7070;
  height: 24px;
}